<div class="page" data-name="classifica">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Classifica generale</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="list media-list classifica">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="https://cdn1.vectorstock.com/i/1000x1000/23/70/man-avatar-icon-flat-vector-19152370.jpg" width="44" /></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Giovanni Rossi</div>
                <div class="item-after"> <span class="badge">12500</span></div>
              </div>
            </div>
          </div>
        </li>
       </ul>
    </div>
  </div>
</div>