<div class="page" data-name="domanda">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">Risultato</div>
        <div class="right">
          <a href="#" class="link icon-only panel-open" data-panel="right">
            <i class="icon material-icons md-only">menu</i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="block">
        <p>Here comes another text block with additional "block-strong" class. Praesent nec imperdiet diam. Maecenas vel
          lectus porttitor, consectetur magna nec, viverra sem. </p>
      </div>
      <div class="list media-list risposte">
        <ul>
          <li>
            <label class="item-radio item-content">
              <input type="radio" name="demo-media-radio" value="1" />
              <i class="icon icon-radio"></i>
              <div class="item-inner">
                <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </div>
            </label>
          </li>
          <li>
            <label class="item-radio item-content">
              <input type="radio" name="demo-media-radio" value="2" />
              <i class="icon icon-radio"></i>
              <div class="item-inner">
                <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </div>
            </label>
          </li>
          <li>
            <label class="item-radio item-content">
              <input type="radio" name="demo-media-radio" value="3" />
              <i class="icon icon-radio"></i>
              <div class="item-inner">
                <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </div>
            </label>
          </li>
          <li>
            <label class="item-radio item-content">
              <input type="radio" name="demo-media-radio" value="4" />
              <i class="icon icon-radio"></i>
              <div class="item-inner">
                <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </div>
            </label>
          </li>
        </ul>
      </div>
      <div class="block avanti">
          <div class="row">
            <div class="col">
              <a href="#" class="col button button-big button-fill">Avanti</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>