<div class="page" data-name="risultato">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
 <div class="title">Quiz Terminato</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="block block-strong">
     <p>Hai totalizzato 100 punti. </p>
    </div>
    <div class="card">
      <div class="card-content card-content-padding">
        <div class="row">
          <div class="col">
            Livello raggiunto
          </div>
        </div>
        <div class="row trofeo">
          <div class="col">
            <i class="icon material-icons md-only">school</i>
          </div>
        </div>
      </div>
    </div>
    <!-- Inset content block -->
    <div class="block block-strong">
      <div class="row">
        <div class="col">
          <a href="/categorie/" class="col button button-big button-fill">Visualizza risposte corrette</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="/classifica/" class="col button button-big button-fill">Nuovo quiz</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="/classifica/" class="col button button-big button-fill">Visualizza classifica</a>
        </div>
      </div>
    </div>
  </div>
</div>